# Python
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
*.sqlite
*.sqlite-*
*.sqlite3
*.sqlite3-*
*.db
*.db-*
.venv/
venv/

# Frontend
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env / OS
.env
.DS_Store
